In [4]:
import pandas as pd
import numpy as np

In [5]:
arr=np.array([10,15,18,22])
s = pd.Series(arr)
print(s)

0    10
1    15
2    18
3    22
dtype: int64

In [6]:
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,
index=['first','second','third','fourth'])
print(s)

first     a
second    b
third     c
fourth    d
dtype: object

In [7]:
s= pd.Series(50, [0,1,2,3,4])
print(s)

0    50
1    50
2    50
3    50
4    50
dtype: int64

In [8]:
d= {'Name':'Sanio Luke', 'Roll No':'35', 'Designation':'Android Developer'}
s= pd.Series(d)
print(s)

Name                  Sanio Luke
Roll No                       35
Designation    Android Developer
dtype: object

In [11]:
s= pd.Series([1,2,3,4,5])
print(s*2)
print(s**2)
print(s[s>=4])

0     2
1     4
2     6
3     8
4    10
dtype: int64
0     1
1     4
2     9
3    16
4    25
dtype: int64
3    4
4    5
dtype: int64

In [16]:
arr= pd.array([10,45,53,81,2,23,86,24,44,21])
s= pd.Series(arr)
print("Default Head")
print(s.head())
print("Numbered Head")
print(s.head(3))

print("Default Tail")
print(s.tail())
print("Numbered Tail")
print(s.tail(3))

Default Head
0    10
1    45
2    53
3    81
4     2
dtype: Int64
Numbered Head
0    10
1    45
2    53
dtype: Int64
Default Tail
5    23
6    86
7    24
8    44
9    21
dtype: Int64
Numbered Tail
7    24
8    44
9    21
dtype: Int64

In [20]:
s1= pd.Series([1,2,3,4,5],['a','b','c','d','e'])
s2= pd.Series([49,48,47,46,45],['a','b','c','d','e'])
s3= pd.Series([11,82,23,42],['a','b','c','d'])
print(s1+s2)
print(s1+s3)
print(s2.add(s3,fill_value=0))
print(s2.sub(s3,fill_value=0))

a    50
b    50
c    50
d    50
e    50
dtype: int64
a    12.0
b    84.0
c    26.0
d    46.0
e     NaN
dtype: float64
a     60.0
b    130.0
c     70.0
d     88.0
e     45.0
dtype: float64
a    38.0
b   -34.0
c    24.0
d     4.0
e    45.0
dtype: float64

In [26]:
arr= np.array([10,15,20,25,30])
s= pd.Series(arr)
print(s)
print(s.loc[:2])
print(s.loc[3:4])
s.loc[2:4]

0    10
1    15
2    20
3    25
4    30
dtype: int64
0    10
1    15
2    20
dtype: int64
3    25
4    30
dtype: int64

2    20
3    25
4    30
dtype: int64

In [27]:
print(s.iloc[:2])
print(s.iloc[2:3])

0    10
1    15
dtype: int64
2    20
dtype: int64